<div class="container border border-light rounded h-75">
    <div class="row p-3">
        <button class="btn btn-success col-1 m-1" onclick="onClickStart()">Start</button>
        <button class="btn btn-danger col-1 m-1" onclick="onClickStop()">Stop</button>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" id="command" placeholder="command" aria-label="command" aria-describedby="basic-addon1">
        </div>          
    </div>
    <div class="row fixed-bottom m-5">
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
</div>